body{
background:#0f172a;
color:white;
font-family:Arial;
}

.container{
max-width:900px;
margin:auto;
padding:20px;
}

textarea,select,input,button{
width:100%;
padding:12px;
margin-top:10px;
background:#111827;
border:none;
color:white;
}

button{
background:#4f46e5;
cursor:pointer;
}

#result img{
width:100%;
margin-top:20px;
}
